In [30]:
# Import Statements
import pandas as pd
import numpy as np

#Turn of Notebook Package Warnings
import warnings
warnings.filterwarnings('ignore')

In [31]:
#Magic Statement
%matplotlib inline

In [20]:
# File Locations
# Change these on your machine (if needed)
datadir = ""
weather_data_raw = datadir + "2019.csv"
station_data_raw = datadir + "ghcnd-stations.txt"

In [22]:
weather = pd.read_table(weather_data_raw, sep=",", header=None)
stations = pd.read_table(station_data_raw, header=None)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  if __name__ == '__main__':

FileNotFoundError: [Errno 2] File b'2019.csv' does not exist: b'2019.csv'

In [36]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import tools, subplots
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.express as px

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

ImportError: cannot import name 'subplots'

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')

FileNotFoundError: [Errno 2] File b'data.csv' does not exist: b'data.csv'

In [5]:
#!/usr/bin/env python
from __future__ import print_function
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row

sc = SparkContext.getOrCreate ()  # appName='weatherStats')
sqlc = SQLContext ( sc )

available_years = range ( 2000, 2019 )  # all data from 2000-2018


def mkdf(filename) :
    """
    Read filename (or glob; things like '20??.csv' will work) and return a
    handle to a PySpark DataFrame
    """
    raw = sc.textFile ( filename )
    data = raw.map ( lambda x : x.split ( ',' ) )
    table = data.map ( lambda r : Row ( sta = r[0], date = r[1], meas = r[2],
                                        degc = int ( r[3] ), m = r[4], q = r[5], s = r[6],
                                        time = r[7] ) )
    df = sqlc.createDataFrame ( table )
    return df.filter ( df.q == '' )  # prune measurements w/ quality problems


def run(years=available_years) :
    """
    Run analyses on individual years in sequence
    """
    import pyspark.sql.functions as sqlf

    # allow passing a single year or a list of them
    if not type ( years ) is list :
        years = [years]

    for year in years :
        if not year in available_years :
            raise RuntimeError ( 'Sorry, %s is not available in the dataset.' % year )

        df = mkdf ( 'data/%s.csv' % year )

        print ( "\n%s\n====\n" % year )

        # Lowest TMIN
        r = df.filter ( df.meas == 'TMIN' ).groupBy ().min ( 'degc' ).first ()
        print ( 'Min TMIN = %0.1f deg C' % (r['min(degc)'] / 10.0) )

        # Highest TMAX
        r = df.filter ( df.meas == 'TMAX' ).groupBy ().max ( 'degc' ).first ()
        print ( 'Max TMAX = %0.1f deg C' % (r['max(degc)'] / 10.0) )

        # Average TMIN
        r = df.filter ( df.meas == 'TMIN' ).groupBy ().avg ( 'degc' ).first ()
        print ( 'Avg TMIN = %0.1f deg C' % (r['avg(degc)'] / 10.0) )

        # Average TMAX
        r = df.filter ( df.meas == 'TMAX' ).groupBy ().avg ( 'degc' ).first ()
        print ( 'Avg TMAX = %0.1f deg C' % (r['avg(degc)'] / 10.0) )

        # Median TMIN
        r = df.filter ( df.meas == 'TMIN' ).approxQuantile ( 'degc', [0.5], 0.25 )
        print ( 'Median TMIN = %0.1f deg C' % (r[0] / 10.0) )

        # Median TMAX
        r = df.filter ( df.meas == 'TMAX' ).approxQuantile ( 'degc', [0.5], 0.25 )
        print ( 'Median TMAX = %0.1f deg C' % (r[0] / 10.0) )

        # Five hottest stations (on average)
        fivehot = df.filter ( df.meas == 'TMAX' ) \
            .groupBy ( df.sta ) \
            .agg ( sqlf.avg ( 'degc' ) ) \
            .sort ( sqlf.desc ( 'avg(degc)' ) ) \
            .limit ( 5 ).collect ()
        print ()
        i = 1
        for s in fivehot :
            t = float ( s['avg(degc)'] ) / 10.0
            print ( 'Hottest station #%s: %s - %0.1f deg C'
                    % (i, s.sta, t) )
            i = i + 1

        # Five coldest stations (on average)
        fivecold = df.filter ( df.meas == 'TMIN' ) \
            .groupBy ( df.sta ) \
            .agg ( sqlf.avg ( 'degc' ) ) \
            .sort ( sqlf.asc ( 'avg(degc)' ) ) \
            .limit ( 5 ).collect ()
        print ()
        i = 1
        for s in fivecold :
            t = float ( s['avg(degc)'] ) / 10.0
            print ( 'Coldest station #%s: %s - %0.1f deg C'
                    % (i, s.sta, t) )
            i = i + 1


def run_whole_dataset() :
    """
    Run analyses over the entire dataset
    """
    import pyspark.sql.functions as sqlf
    from datetime import datetime as dt

    # Hottest and coldest day and corresponding weather stations in the
    # entire dataset
    print ( "\nEntire dataset (2000-2018)\n==========================\n" )
    print ( '  * Loading all datasets into a single DataFrame...' )
    df = mkdf ( 'data/20??.csv' )

    # coldest station
    print ( '  * Computing coldest station for entire dataset...\n' )
    coldest = df.filter ( df.meas == 'TMIN' ).groupBy ( 'sta', 'date' ).min ( 'degc' ) \
        .sort ( sqlf.asc ( 'min(degc)' ) ).first ()

    date = dt.strptime ( coldest.date, '%Y%m%d' ).strftime ( '%d %b %Y' )

    print ( 'Coldest station was %s on %s: %0.1f deg C'
            % (coldest.sta, date, float ( coldest['min(degc)'] ) / 10.0) )

    # and now the hottest
    print ( '\n  * Computing hottest station for entire dataset...\n' )
    hottest = df.filter ( df.meas == 'TMAX' ).groupBy ( 'sta', 'date' ).max ( 'degc' ) \
        .sort ( sqlf.desc ( 'max(degc)' ) ).first ()

    date = dt.strptime ( hottest.date, '%Y%m%d' ).strftime ( '%d %b %Y' )

    print ( 'Hottest station was %s on %s: %0.1f deg C'
            % (hottest.sta, date, float ( hottest['max(degc)'] ) / 10.0) )

    # Median TMIN
    print ( '\n  * Computing median TMIN for entire dataset...\n' )
    TMIN_m = df.filter ( df.meas == 'TMIN' ).approxQuantile ( 'degc', [0.5], 0.25 )
    print ( 'Median TMIN for the entire dataset: %0.1f deg C' % (TMIN_m[0] / 10.0) )

    # Median TMAX
    print ( '\n  * Computing median TMAX for entire dataset...\n' )
    TMAX_m = df.filter ( df.meas == 'TMAX' ).approxQuantile ( 'degc', [0.5], 0.25 )
    print ( 'Median TMAX for the entire dataset: %0.1f deg C' % (TMAX_m[0] / 10.0) )


if __name__ == '__main__' :
    run ()

ModuleNotFoundError: No module named 'pyspark'

In [1]:
name = 'Lizz'

In [2]:
print(name[0:2])

Li

In [3]:
var = '01234567'

In [4]:
print(var[::2])

0246

In [10]:
import pandas as pd
url = "http://www.fa-technik.adfc.de/code/opengeodb/DE.tab"

df = pd.read_csv(url, sep='\t', engine='python')

df.head(5)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [37]:
path = "C:\temp\data.csv"
df.to_csv(path)

In [13]:
df.describe(include = "all")

,#loc_id,ags,ascii,name,lat,lon,amt,plz,vorwahl,einwohner,flaeche,kz,typ,level,of,invalid
count,61135.000000,61052,61121,61121,60981.000000,60981.000000,10012,57907,13024,1.284300e+04,13020.000000,60686,15289,61133.000000,61125.000000,880.000000
unique,NaN,11427,44983,53607,NaN,NaN,1592,8520,4543,NaN,NaN,425,96,NaN,NaN,NaN
top,NaN,02000000,BERG,Berg,NaN,NaN,Samtgemeinde Clenze,84494,030,NaN,NaN,RO,Gemeinde,NaN,NaN,NaN
freq,NaN,114,71,47,NaN,NaN,88,83,112,NaN,NaN,926,9001,NaN,NaN,NaN
mean,95652.790169,NaN,NaN,NaN,50.400102,10.341184,NaN,NaN,NaN,2.179012e+04,111.903779,NaN,NaN,7.514861,17648.927182,0.181818
std,46585.742810,NaN,NaN,NaN,1.951402,1.960405,NaN,NaN,NaN,7.682999e+05,3293.166256,NaN,NaN,0.843488,16317.453889,0.385914
min,1.000000,NaN,NaN,NaN,34.000000,5.866667,NaN,NaN,NaN,1.000000e+00,0.000000,NaN,NaN,2.000000,1.000000,0.000000
25%,81156.500000,NaN,NaN,NaN,48.750000,8.850000,NaN,NaN,NaN,5.855000e+02,8.000000,NaN,NaN,7.000000,13902.000000,0.000000
50%,115144.000000,NaN,NaN,NaN,50.033300,10.383333,NaN,NaN,NaN,1.533000e+03,18.000000,NaN,NaN,8.000000,18376.000000,0.000000
75%,130427.500000,NaN,NaN,NaN,51.921561,11.950000,NaN,NaN,NaN,4.847000e+03,39.000000,NaN,NaN,8.000000,22852.000000,0.000000
max,559045.000000,NaN,NaN,NaN,55.018663,14.971420,NaN,NaN,NaN,8.217568e+07,357104.000000,NaN,NaN,10.000000,154102.000000,1.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61135 entries, 0 to 61134
Data columns (total 16 columns):
#loc_id      61135 non-null int64
ags          61052 non-null object
ascii        61121 non-null object
name         61121 non-null object
lat          60981 non-null float64
lon          60981 non-null float64
amt          10012 non-null object
plz          57907 non-null object
vorwahl      13024 non-null object
einwohner    12843 non-null float64
flaeche      13020 non-null float64
kz           60686 non-null object
typ          15289 non-null object
level        61133 non-null float64
of           61125 non-null float64
invalid      880 non-null float64
dtypes: float64(7), int64(1), object(8)
memory usage: 7.5+ MB

In [17]:
df.head(5)

,#loc_id,ags,ascii,name,lat,lon,amt,plz,vorwahl,einwohner,flaeche,kz,typ,level,of,invalid
0,105,D,DEUTSCHLAND,Bundesrepublik Deutschland,51.16766,10.42498,NaN,NaN,NaN,82175684.0,357104.0,D,NaN,2.0,104.0,NaN
1,80076,16076087,KLEINWOLSCHENDORF,Kleinwolschendorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,26599.0,0.0
2,80085,16076087,PAHREN,Pahren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ortsteil,8.0,26599.0,0.0
3,80070,16076087,DOERTENDORF,Dörtendorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ortsteil,8.0,25089.0,0.0
4,80082,16076087,MEHLA,Mehla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ortsteil,8.0,25089.0,0.0

In [38]:
df.dropna(subset=["kz", "amt", "invalid"], axis=0)

,#loc_id,ags,ascii,name,lat,lon,amt,plz,vorwahl,einwohner,flaeche,kz,typ,level,of,invalid
13614,16367,15083215,ETINGEN,Etingen,52.393160,11.170410,Verwaltungsgemeinschaft Oebisfelde-Calvörde,39359,039002,533.0,16.93,BK,Gemeinde,6.0,541.0,1.0
14473,50061,16067085,GUENTHERSLEBEN-WECHMAR,Günthersleben-Wechmar,50.900000,10.775000,Verwaltungsgemeinschaft Günthersleben-Wechmar,99869,036256,3141.0,27.00,GTH,Gemeinde,6.0,342.0,1.0
60408,150732,13071027,LEHNENHOF,Lehnenhof,53.925672,12.846923,Amt Dargun,17159,039959,NaN,NaN,DM,Ortsteil,8.0,15441.0,0.0
60411,150739,13071142,KLOCKOW-DORF,Klockow-Dorf,53.701178,12.951937,Amt Stavenhagen,17153,039954,NaN,NaN,DM,Ortsteil,7.0,23041.0,0.0
60412,150741,13071142,KOELPIN,Kölpin,53.710933,12.858853,Amt Stavenhagen,17153,039954,NaN,NaN,DM,Ortsteil,7.0,23041.0,0.0
60413,150744,13071142,NEUBAUHOF,Neubauhof,53.683759,12.883981,Amt Stavenhagen,17153,039954,NaN,NaN,DM,Dorf,7.0,23041.0,0.0
60414,150746,13071142,WUESTGRABOW,Wüstgrabow,53.726703,12.880526,Amt Stavenhagen,17153,039954,NaN,NaN,DM,Dorf,7.0,23041.0,0.0
60420,150764,12061061,SIEDLUNG,Siedlung,51.890300,14.149800,Amt Lieberose/Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60421,150766,12061061,MUEHLENDORF,Mühlendorf,51.884700,14.145500,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60422,150768,12061061,NEU-BYHLEGUHRE,Neu-Byhleguhre,51.870900,14.191800,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60423,150770,12061061,AM SEE,Am See,51.893600,14.161400,Amt Lieberose/Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60424,150772,12061061,KAUPEN,Kaupen,51.867800,14.153900,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60425,150774,12061061,KOKAINZ,Kokainz,51.873730,14.146380,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60426,150776,12061061,GROBBE,Grobbe,51.884700,14.166600,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15254.0,0.0
60428,150780,12061061,FORSTHAUS,Forsthaus,51.912100,14.195700,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,9.0,15255.0,0.0
60429,150782,12071341,SCHMOGROWER BAHNHOF,Schmogrower Bahnhof,51.858700,14.178600,Amt Burg (Spreewald),03096,035603,NaN,NaN,SPN,Ortsteil,9.0,23809.0,0.0
60430,150784,12061476,BUSCHMUEHLE,Buschmühle,51.879300,14.118600,Amt Lieberose / Oberspreewald,15913,035475,NaN,NaN,LDS,Ortsteil,8.0,24677.0,0.0
60431,150795,12061097,KROSSEN,Krossen,51.919520,13.596230,Golßener Land,15938,035453,648.0,NaN,LDS,Ortsteil,8.0,150800.0,0.0
60455,150859,01051113,GROSSBUETTEL,Großbüttel,54.157900,8.967200,Heide-Land,25797,04839,NaN,NaN,HEI,Ortsteil,8.0,26342.0,0.0
60643,151734,13073106,ZIRKOW,Zirkow,54.377466,13.536265,Zirkow,18528,038393,NaN,NaN,RÜG,NaN,7.0,26640.0,0.0
60675,151858,16070058,ALLERSDORF,Allersdorf,50.618071,11.069911,16070027,98701,036783,NaN,NaN,IK,Ort,7.0,18253.0,0.0
60703,151974,16066094,OBENDORF,Obendorf,50.450000,10.555000,Verwaltungsgemeinschaft Grabfeld,98631,036947,NaN,NaN,SM,Ortsteil,8.0,151971.0,0.0
60704,151978,14729190,STOERMTHAL,Störmthal,51.245000,12.473000,Gemeinde Großpösna,04463,034297,512.0,NaN,L,Ortsteil,7.0,17551.0,0.0
60705,151981,14729190,DREISKAU-MUCKERN,Dreiskau-Muckern,51.216944,12.465000,Gemeinde Großpösna,04463,034297,423.0,NaN,L,Ort,7.0,17551.0,0.0
60706,151983,14729190,SEIFERTSHAIN,Seifertshain,51.293523,12.517825,Gemeinde Großpösna,04463,034297,360.0,NaN,L,Ort,7.0,17551.0,0.0
60707,151985,14729190,GROSSPOESNA,Großpösna,51.268520,12.502130,Gemeinde Großpösna,04463,034297,3726.0,NaN,L,Ort,7.0,17551.0,0.0
60918,152865,12065100,BUBEROW,Buberow,52.961505,13.165997,Amt Gransee und Gemeinden,16775,NaN,175.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60919,152867,12065100,GRAMZOW,Gramzow,53.113742,13.176119,Amt Gransee und Gemeinden,16775,NaN,56.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60920,152869,12065100,KRAATZ,Kraatz,52.978320,13.189981,Amt Gransee und Gemeinden,16775,NaN,237.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60921,152871,12065100,MARGARETENHOF,Margaretenhof,52.977958,13.153589,Amt Gransee und Gemeinden,16775,NaN,37.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60923,152875,12065100,WENDEFELD,Wendefeld,53.034692,13.158824,Amt Gransee und Gemeinden,16775,NaN,104.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60924,152877,12065100,ZIEGELEI,Ziegelei,53.025520,13.188770,Amt Gransee und Gemeinden,16775,NaN,NaN,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60925,152879,12065100,ZIEGELSCHEUNE,Ziegelscheune,53.014490,13.215283,Amt Gransee und Gemeinden,16775,NaN,33.0,NaN,OHV,Ortsteil,7.0,17307.0,0.0
60960,152954,13061042,FREESENORT,Freesenort,54.445697,13.127668,Amt West-Rügen,18569,038305,6.0,NaN,RÜG,Gemarkung,7.0,25216.0,1.0
60961,152956,13073095,KLEIN KUBITZ,Klein Kubitz,54.433168,13.209465,Amt West-Rügen,18569,038305,NaN,NaN,RÜG,Gemarkung,7.0,25216.0,0.0
60968,152976,02000000,HARBURG,Harburg,53.460580,9.981390,02000000,"21073,21075,21077,21079,21129,21147,21149,",040,202526.0,155.00,HH,Bezirk,7.0,17838.0,0.0
61045,153448,15088319,KOELLME,Köllme,51.497889,11.811930,Gemeinde Salzatal,06179,034609,NaN,NaN,SK,Ortsteil,8.0,26533.0,0.0
61046,153450,15088319,NAUNDORF,Naundorf,51.553770,11.736260,Gemeinde Salzatal,06198,034609,NaN,NaN,SK,Ortsteil,8.0,14203.0,0.0
61047,153452,15088319,ZOERNITZ,Zörnitz,51.565350,11.764950,Gemeinde Salzatal,06198,034609,NaN,NaN,SK,Ortsteil,8.0,14203.0,0.0
61048,153454,15088319,TREBITZ,Trebitz,51.578470,11.768840,Gemeinde Salzatal,06198,034607,NaN,NaN,SK,Ortsteil,8.0,19464.0,0.0
61049,153456,15088319,RUMPIN,Rumpin,51.601950,11.748970,Gemeinde Salzatal,06198,034607,NaN,NaN,SK,Ortsteil,8.0,19464.0,0.0
61050,153458,15088319,JOHANNASHALL,Johannashall,51.572030,11.775460,Gemeinde Salzatal,06198,034607,NaN,NaN,SK,Ortsteil,8.0,19464.0,0.0
61051,153460,15088319,GORSLEBEN,Gorsleben,51.539130,11.755850,Gemeinde Salzatal,06179,034609,NaN,NaN,SK,Ortsteil,8.0,23833.0,0.0
61052,153462,15088319,KRIMPE,Krimpe,51.523340,11.752480,Gemeinde Salzatal,06179,034609,NaN,NaN,SK,Ortsteil,8.0,23833.0,0.0
61053,153464,15088319,RAETHER,Räther,51.521750,11.732130,Gemeinde Salzatal,06179,034609,NaN,NaN,SK,Ortsteil,8.0,23833.0,0.0
61054,153466,15088319,WILS,Wils,51.529330,11.780660,Gemeinde Salzatal,06179,034609,NaN,NaN,SK,Ortsteil,8.0,23833.0,0.0
61072,153615,12070244,NAUSDORF,Nausdorf,53.124320,11.554695,20149,19309,NaN,NaN,NaN,PR,Ort,8.0,20149.0,0.0

In [34]:
df.to_csv("cities1.csv", index=False)

ValueError: Invalid file path or buffer object type: <class 'pandas.core.frame.DataFrame'>

In [46]:
s = df['typ']

In [47]:
s

0                             NaN
1                             NaN
2                        Ortsteil
3                        Ortsteil
4                        Ortsteil
5                        Ortsteil
6                             NaN
7                        Ortsteil
8                        Ortsteil
9                        Ortsteil
10                       Ortsteil
11                            NaN
12                            NaN
13                            NaN
14                            NaN
15                            NaN
16                            NaN
17                            NaN
18                            NaN
19                            NaN
20                            NaN
21                            NaN
22                            NaN
23                            NaN
24                            NaN
25                            NaN
26                       Ortsteil
27                       Ortsteil
28                       Ortsteil
29                       Ortsteil
                   ...
61105                         NaN
61106                         NaN
61107                         NaN
61108                         NaN
61109                         NaN
61110                         NaN
61111                         NaN
61112                         NaN
61113                         NaN
61114                         NaN
61115                         NaN
61116                         NaN
61117                         NaN
61118                         NaN
61119                   Stadtteil
61120                         NaN
61121                    Ortsteil
61122    Kreisangehörige Gemeinde
61123                         NaN
61124                         NaN
61125                         NaN
61126                         NaN
61127                         NaN
61128                         NaN
61129                         NaN
61130                         NaN
61131                         NaN
61132                         NaN
61133                         NaN
61134                         NaN
Name: typ, Length: 61135, dtype: object

In [57]:
df.loc[df['typ'] == 'Stadt']

,#loc_id,ags,ascii,name,lat,lon,amt,plz,vorwahl,einwohner,flaeche,kz,typ,level,of,invalid
37,466,01001,FLENSBURG,Flensburg,54.780470,9.435220,NaN,NaN,NaN,NaN,56.00,FL,Stadt,5.0,119.0,NaN
38,16534,01001000,FLENSBURG,Flensburg,54.780470,9.435220,NaN,"24937,24939,24941,24943,24944",0461,86006.0,56.00,FL,Stadt,6.0,466.0,NaN
43,474,01004,NEUMUENSTER,Neumünster,54.074040,9.984530,NaN,NaN,NaN,NaN,72.00,NMS,Stadt,5.0,119.0,NaN
44,21517,01004000,NEUMUENSTER,"Neumünster, Holstein",54.074020,9.984512,NaN,"24534,24536,24537,24539",04321,78128.0,72.00,NMS,Stadt,6.0,474.0,NaN
54,15051,01051011,BRUNSBUETTEL,Brunsbüttel,53.897863,9.128617,NaN,25541,04852,13789.0,65.00,HEI,Stadt,6.0,258.0,NaN
81,18047,01051044,HEIDE,Heide / Holstein,54.195730,9.091090,NaN,25746,0481,20716.0,32.00,HEI,Stadt,6.0,258.0,NaN
104,20675,01051072,MARNE,"Marne, Holstein",53.951127,9.008806,NaN,25709,04851,6018.0,5.00,HEI,Stadt,6.0,258.0,NaN
106,20799,01051074,MELDORF,Meldorf (Holstein),54.091950,9.069270,NaN,25704,04832,7655.0,21.00,HEI,Stadt,6.0,258.0,NaN
149,26008,01051127,WESSELBUREN,Wesselburen,54.211900,8.920840,NaN,25764,04833,3112.0,5.00,HEI,Stadt,6.0,258.0,NaN
195,16875,01053032,GEESTHACHT,Geesthacht,53.430180,10.374100,NaN,21502,04152,29403.0,33.00,RZ,Stadt,6.0,463.0,NaN
243,20007,01053083,LAUENBURG,Lauenburg / Elbe,53.375820,10.547030,NaN,21481,04153,11671.0,10.00,RZ,Stadt,6.0,463.0,NaN
250,21009,01053090,MOELLN,"Mölln, Kreis Herzogtum Lauenburg",53.630010,10.692690,NaN,23879,04542,18499.0,25.00,RZ,Stadt,6.0,463.0,NaN
260,22835,01053100,RATZEBURG,Ratzeburg,53.699550,10.759600,NaN,23909,04541,13785.0,30.00,RZ,Stadt,6.0,463.0,NaN
275,24040,01053116,SCHWARZENBEK,Schwarzenbek,53.501770,10.479920,NaN,21493,04151,14864.0,12.00,RZ,Stadt,6.0,463.0,NaN
314,14888,01054019,BREDSTEDT,Bredstedt,54.617217,8.971731,NaN,25821,04671,5089.0,10.00,NF,Stadt,6.0,477.0,NaN
323,16717,01054033,FRIEDRICHSTADT,Friedrichstadt an der Eider,54.375091,9.091354,Amt Friedrichstadt,25840,04881,2468.0,4.00,NF,Stadt,6.0,477.0,NaN
326,16832,01054036,GARDING,Garding,54.328418,8.786814,Amt Eiderstedt,25836,04862,2667.0,3.00,NF,Stadt,6.0,477.0,NaN
341,18761,01054056,HUSUM,"Husum, Nordsee",54.485281,9.053293,NaN,25813,04841,21000.0,18.00,NF,Stadt,6.0,477.0,NaN
365,21601,01054088,NIEBUELL,Niebüll (Schleswig),54.788158,8.829602,NaN,25899,04661,9183.0,31.00,NF,Stadt,6.0,477.0,NaN
408,25015,01054138,TOENNING,Tönning (Nordseebad),54.318091,8.937138,NaN,25832,04861,5059.0,43.00,NF,Stadt,6.0,477.0,NaN
419,26037,01054168,WESTERLAND,Westerland,54.907748,8.308755,NaN,25980,04651,9078.0,10.00,NF,Stadt,6.0,477.0,NaN
430,26512,01054164,WYK,Wyk auf Föhr,54.687572,8.553637,NaN,25938,04681,4438.0,8.00,NF,Stadt,6.0,477.0,NaN
437,13991,01055004,BAD SCHWARTAU,Bad Schwartau,53.921050,10.679550,NaN,23611,0451,19741.0,18.00,OH,Stadt,6.0,480.0,NaN
442,16397,01055012,EUTIN,Eutin,54.137650,10.616160,NaN,23701,04521,17256.0,41.00,OH,Stadt,6.0,480.0,NaN
449,18079,01055021,HEILIGENHAFEN,"Heiligenhafen, Holstein",54.372430,10.979180,NaN,23774,04362,9331.0,18.00,OH,Stadt,6.0,480.0,NaN
458,21570,01055032,NEUSTADT,Neustadt in Holstein,54.106850,10.813530,NaN,23730,04561,16615.0,20.00,OH,Stadt,6.0,480.0,NaN
459,22142,01055033,OLDENBURG,Oldenburg in Holstein,54.291694,10.886743,NaN,23758,04361,9919.0,40.00,OH,Stadt,6.0,480.0,NaN
470,16452,01055046,FEHMARN,Fehmarn,54.435550,11.196980,NaN,23769,04371,12909.0,185.00,OH,Stadt,6.0,480.0,NaN
473,14109,01056002,BARMSTEDT,Barmstedt,53.789368,9.772268,NaN,25355,04123,9475.0,17.00,PI,Stadt,6.0,485.0,NaN
484,16141,01056015,ELMSHORN,Elmshorn,53.755297,9.656240,NaN,"25335,25336,25337",04121,48317.0,21.00,PI,Stadt,6.0,485.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14936,20313,16075062,BAD LOBENSTEIN,Bad Lobenstein,50.452200,11.639300,NaN,07356,036651,7132.0,49.00,SOK,Stadt,6.0,336.0,NaN
14944,21562,16075073,NEUSTADT,Neustadt an der Orla,50.733300,11.750000,Neustadt an der Orla,07806,036481,9193.0,31.00,SOK,Stadt,6.0,336.0,NaN
14954,22540,16075085,POESSNECK,Pößneck,50.700000,11.600000,NaN,07381,03647,13954.0,24.00,SOK,Stadt,6.0,336.0,NaN
14957,22796,16075088,RANIS,Ranis,50.650000,11.550000,Verwaltungsgemeinschaft Ranis-Ziegenrück,07389,03647,2027.0,11.00,SOK,Stadt,6.0,336.0,NaN
14960,23745,16075098,SCHLEIZ,Schleiz,50.583300,11.816700,NaN,07907,03663,9223.0,83.00,SOK,Stadt,6.0,336.0,NaN
14969,25102,16075116,TRIPTIS,Triptis,50.733300,11.850000,Verwaltungsgemeinschaft Triptis,07819,036482,4231.0,26.00,SOK,Stadt,6.0,336.0,NaN
14974,26610,16075127,ZIEGENRUECK,"Ziegenrück, Thüringen",50.616700,11.650000,Verwaltungsgemeinschaft Ranis-Ziegenrück,07924,036483,828.0,8.00,SOK,Stadt,6.0,336.0,NaN
14976,16877,16075131,GEFELL,Gefell bei Schleiz,50.433300,11.850000,NaN,07926,036649,2870.0,45.00,SOK,Stadt,6.0,336.0,NaN
14977,24817,16075132,TANNA,Tanna bei Schleiz,50.500000,11.850000,NaN,07922,036646,4264.0,87.00,SOK,Stadt,6.0,336.0,NaN
14978,26493,16075133,WURZBACH,Wurzbach,50.466700,11.533300,NaN,07343,036652,3953.0,72.00,SOK,Stadt,6.0,336.0,NaN
14980,23449,16075135,SAALBURG-EBERSDORF,Saalburg-Ebersdorf,50.491700,11.700000,NaN,"07929,07368",036651,4206.0,72.00,SOK,Stadt,6.0,336.0,NaN
14982,13823,16076092,AUMA,Auma,50.700000,11.900000,Verwaltungsgemeinschaft Auma-Weidatal,07955,036626,3343.0,31.00,GRZ,Stadt,6.0,546.0,NaN
14983,13941,16076003,BAD KOESTRITZ,Bad Köstritz,50.933300,12.016700,Erfüllende Gemeinde Bad Köstritz,07586,036605,4003.0,17.00,GRZ,Stadt,6.0,546.0,NaN
14984,14303,16076004,BERGA,Berga / Elster,50.750000,12.166700,NaN,07980,036623,3978.0,43.00,GRZ,Stadt,6.0,546.0,NaN
14995,17338,16076022,GREIZ,Greiz,50.657700,12.190500,Erfüllende Gemeinde Greiz,07973,03661,24199.0,54.00,GRZ,Stadt,6.0,546.0,NaN
15002,18521,16076029,HOHENLEUBEN,Hohenleuben,50.716700,12.050000,Verwaltungsgemeinschaft Leubatal,07958,036622,1863.0,10.00,GRZ,Stadt,6.0,546.0,NaN
15016,21180,16076049,MUENCHENBERNSDORF,Münchenbernsdorf,50.816700,11.933300,Verwaltungsgemeinschaft Münchenbernsdorf,07589,036604,3469.0,15.00,GRZ,Stadt,6.0,546.0,NaN
15022,23277,16076061,RONNEBURG,"Ronneburg, Thüringen",50.866700,12.183300,NaN,07580,036602,5748.0,19.00,GRZ,Stadt,6.0,546.0,NaN
15034,25788,16076079,WEIDA,"Weida, Thüringen",50.766700,12.066700,Erfüllende Gemeinde Weida,07570,036603,8504.0,13.00,GRZ,Stadt,6.0,546.0,NaN
15043,80096,16076087,ZEULENRODA-TRIEBES,Zeulenroda-Triebes,50.650000,11.983300,NaN,"07937,07950","036628,036622",NaN,68.07,NaN,Stadt,6.0,546.0,0.0
15064,13558,16077001,ALTENBURG,"Altenburg, Thüringen",50.988400,12.444700,NaN,04600,03447,38417.0,45.00,ABG,Stadt,6.0,327.0,NaN
15074,17173,16077012,GOESSNITZ,"Gößnitz, Thüringen",50.890300,12.432800,Gößnitz,04639,034493,4285.0,14.00,ABG,Stadt,6.0,327.0,NaN
15085,20410,16077028,LUCKA,"Lucka, Thüringen",51.095100,12.335300,NaN,04613,034492,4748.0,13.00,ABG,Stadt,6.0,327.0,NaN
15088,20899,16077032,MEUSELWITZ,"Meuselwitz, Thüringen",51.047500,12.297500,NaN,04610,03448,9949.0,26.00,ABG,Stadt,6.0,327.0,NaN
15096,23807,16077043,SCHMOELLN,"Schmölln, Thüringen",50.895100,12.356500,NaN,04626,034491,12967.0,42.00,ABG,Stadt,6.0,327.0,NaN
50338,134915,09472150,ALTENPLOS,Altenplos,49.983333,11.516667,NaN,95500,0921,NaN,NaN,BT,Stadt,8.0,18105.0,NaN
58450,143025,13071027,DARGUN,Dargun,53.901911,12.856750,NaN,17159,039959,4995.0,117.00,DM,Stadt,7.0,15441.0,NaN
58572,143149,13072035,GNOIEN,Gnoien,53.972540,12.704370,NaN,17179,NaN,3466.0,41.08,GÜ,Stadt,7.0,17117.0,NaN
60637,151716,15082015,BITTERFELD-WOLFEN,Bitterfeld-Wolfen,51.624738,12.308212,NaN,"06731,06808",NaN,NaN,NaN,ABI,Stadt,6.0,151713.0,0.0
61079,153702,05162024,NEUSS,Neuss,51.203872,6.688008,NaN,41453,NaN,NaN,NaN,NaN,Stadt,7.0,21554.0,1.0

In [81]:
import pandas as pd
url = "https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt"

dfstations = pd.read_csv(url, sep='\t', engine='python')


dfstations.head(5)

# bydefault splitting is done on the basis of single space. 
print("\nSplitting 'Name' column into two different columns :\n", 
                                  dfstations.Name.str.split(expand=True))

AttributeError: 'DataFrame' object has no attribute 'Name'

In [7]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_7430ea7319b540a9a8f687c4c52b3576 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='LnJC4G_Dt-onn470r5O2hV4xtYu7ueglzlSe5DqymQqz',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_7430ea7319b540a9a8f687c4c52b3576.get_object(Bucket='myproject-donotdelete-pr-dnoa0xuakl436y',Key='stations_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()
# Erstellung einer Header-Liste
headers = ["ID","LATITUDE","LONGITUDE","ELEVATION","STATE", "NAME","GSN FLAG",
         "HCN/CRN FLAG","WMO ID"]
print("headers\n", headers)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 115, saw 2

In [70]:

dfstations.head(10)

  ACW00011604  17.1167  -61.7833   10.1    ST JOHNS COOLIDGE FLD
0  ACW00011647  17.1333  -61.7833   19.2    ST JO...
1  AE000041196  25.3330   55.5170   34.0    SHARJ...
2  AEM00041194  25.2550   55.3640   10.4    DUBAI...
3  AEM00041217  24.4330   54.6510   26.8    ABU D...
4  AEM00041218  24.2620   55.6090  264.9    AL AI...
5  AF000040930  35.3170   69.0170 3366.0    NORTH...
6  AFM00040938  34.2100   62.2280  977.2    HERAT...
7  AFM00040948  34.5660   69.2120 1791.3    KABUL...
8  AFM00040990  31.5000   65.8500 1010.0    KANDA...
9  AG000060390  36.7167    3.2500   24.0    ALGER...

In [86]:

# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_2 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-1a3e9502-0f8b-475f-86bc-2106d0e4ca15',
    'IBM_API_KEY_ID': 'LnJC4G_Dt-onn470r5O2hV4xtYu7ueglzlSe5DqymQqz',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.eu-gb.bluemix.net/oidc/token',
    'BUCKET': 'myproject-donotdelete-pr-dnoa0xuakl436y',
    'FILE': 'stations_all.csv'
}

ParserError: Error tokenizing data. C error: Expected 1 fields in line 115, saw 2

In [2]:
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-1a3e9502-0f8b-475f-86bc-2106d0e4ca15',
    'IBM_API_KEY_ID': 'LnJC4G_Dt-onn470r5O2hV4xtYu7ueglzlSe5DqymQqz',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.eu-gb.bluemix.net/oidc/token',
    'BUCKET': 'myproject-donotdelete-pr-dnoa0xuakl436y',
    'FILE': 'stations_all.csv'
}
body = client_7430ea7319b540a9a8f687c4c52b3576.get_object(Bucket='myproject-donotdelete-pr-dnoa0xuakl436y',Key='2019.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head(5)

NameError: name 'client_7430ea7319b540a9a8f687c4c52b3576' is not defined

In [5]:
credentials_3 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-1a3e9502-0f8b-475f-86bc-2106d0e4ca15',
    'IBM_API_KEY_ID': 'LnJC4G_Dt-onn470r5O2hV4xtYu7ueglzlSe5DqymQqz',
    'ENDPOINT': 'https://s3.eu-geo.objectstorage.service.networklayer.com',
    'IBM_AUTH_ENDPOINT': 'https://iam.eu-gb.bluemix.net/oidc/token',
    'BUCKET': 'myproject-donotdelete-pr-dnoa0xuakl436y',
    'FILE': '2019.csv'
body = client_7430ea7319b540a9a8f687c4c52b3576.get_object(Bucket='myproject-donotdelete-pr-dnoa0xuakl436y',Key='2019.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

NameError: name 'client_7430ea7319b540a9a8f687c4c52b3576' is not defined

In [ ]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0
# @hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
client_7430ea7319b540a9a8f687c4c52b3576 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='LnJC4G_Dt-onn470r5O2hV4xtYu7ueglzlSe5DqymQqz',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_7430ea7319b540a9a8f687c4c52b3576.get_object(Bucket='myproject-donotdelete-pr-dnoa0xuakl436y',Key='2019.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head(2)